server:
  port: 8082
  forward-headers-strategy: framework

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/employee?createDatabaseIfNotExist=true
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true